* {
  font-family: 'Truculenta';
}

input { 
  font-size: 1.2rem;
  width: 80%;
  color: gray;
}

.cards-gifs {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 calc( 25% - 20px );
  background: #ececec;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.card img {
  max-width: 100%;
}

.card p {
  font-size: 18px;
  text-align: center;
}

